<div class="container">
  <div class="well">
    <h3>Shift Details <%= link_to 'Back', root_path, class: 'btn btn-default btn-sm' %></h3>
    <p>
      Find your shift details and clock in/clock out.
    </p>
    <h4>
      <span class="label label-primary"> Current time: <%= Time.zone.now.strftime("%H:%M:%S") %> Date: <%= Time.zone.now.strftime("%e %B %Y") %></span>
    </h4>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Shift Date: <%= formatted_date(@shift.shift_date) %></p>
      <% if @shift.is_clock_in? %>
        <% if @shift.clock_events.any? %>
          <p>You clocked out at <%= @shift.get_last_clock_out_time %> Please clock in!</p>
        <% end %>
        <%= link_to 'Clock In', clock_in_shift_path(@shift), method: 'POST', class: 'btn btn-primary btn-md' %>
      <% else %>
        <p><b>You clocked in at <%= @shift.get_last_clock_in_time %> Please clock out.</b></p>
        <%= link_to 'Clock Out', clock_out_shift_path(@shift), method: 'POST', class: 'btn btn-danger btn-md' %>
      <% end %>
    </div>
    <div class="well">
      <h3><b>Logs of clock events</b></h3>
      <%= render 'clock_events/clock_events' %>
    </div>
    <%= render 'clock_events/show_modal' %>
    <div class="panel-footer"><u>Clock event logs of <%= current_user.name %></u> </div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('.edit_event').click(function() {
      let clock_event_id = $(this).attr('data-id')
      let shift_id = $(this).attr('shift-id')
      if(clock_event_id && shift_id){
        let url = "/shifts/"+shift_id+"/clock_events/"+clock_event_id+"/edit"
        $.ajax({url: url})
      }
    });
  </script>
<% end %>