<div class="container">
  <div class="well">
    <h3>Shift Details</h3>
    <p>
      Find your shift details and clock in/clock out.
    </p>
    <h4>
      <span class="label label-default"> Current time: <%= Time.zone.now.strftime("%H:%M:%S") %> Date: <%= Time.zone.now.strftime("%e %B %Y") %></span>
    </h4>
  </div>
</div>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <p>Shift Date: <%= formatted_date(@shift.shift_date) %></p>
      <% if @shift.is_clock_in? %>
        <% if @shift.clock_events.any? %>
          <p>You clocked out at <%= @shift.get_last_clock_out_time %> Please clock in!</p>
        <% end %>
        <%= link_to 'Clock In', clock_in_shift_path(@shift), method: 'POST', class: 'btn btn-primary btn-md' %>
      <% else %>
        <p><b>You clocked in at <%= @shift.get_last_clock_in_time %> Please clock out.</b></p>
        <%= link_to 'Clock Out', clock_out_shift_path(@shift), method: 'POST', class: 'btn btn-danger btn-md' %>
      <% end %>
    </div>
    <div class="well">
      <h3><b>Logs of clock events</b></h3>
      <% @shift.clock_events.each do |clock_event| %>
        <div class="well">
          <p>Clock in: <%= clock_event.clock_in.strftime("%H:%M:%S on %d/%m/%Y") %></p>
          <% if clock_event.clock_out.present? %>
            <p>Clock out: <%= clock_event.clock_out.strftime("%H:%M:%S on %d/%m/%Y") %></p>
            <p>Total time: <%= clock_event.get_total_time %></p>
          <% end %>
          <button type="button" class="label label-default edit_event" shift-id= "<%= @shift.id %>" data-id="<%= clock_event.id %>">Edit </button>
          <%= link_to 'Delete', shift_clock_event_path(@shift, clock_event), method: :delete, data: { confirm: "Are you sure?" }, class: 'label label-danger' %>
        </div>
      <% end %>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="clock_event" role="dialog">
      <div class="modal-dialog">
      
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Clock Event</h4>
          </div>
          <div class="modal-body" id="clock_event_form"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">By <%= current_user.name %> </div>
  </div>
  <%= link_to 'Back', root_path, class: 'btn btn-default' %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    $('.edit_event').click(function() {
      let clock_event_id = $(this).attr('data-id')
      let shift_id = $(this).attr('shift-id')
      if(clock_event_id && shift_id){
        let url = "/shifts/"+shift_id+"/clock_events/"+clock_event_id+"/edit"
        $.ajax({url: url})
      }
    });
  </script>
<% end %>